<style>
  .header {
    background: #d9fdfc;
    height: 75px;
    width: 100%;
    box-shadow: 2px 2px #f1f1f1;
  }

  .sub-header {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 25px 0 25px;
    position: relative;
  }


  .max {
    max-width: 100%
  }

  .sub-header {
    cursor: pointer;
  }

  .nav-link{
    width: 100%;
    color: white;
    cursor: pointer;
    padding : 0px 0px 0px 20px;
  }

  .nav-link:hover{
    background: rgb(56, 45, 44);
  }

  .nav-link.selected{
    background: #251a19;
  }


  .nav-headng{
    height: 75px;
    color: white;
  }

  .nav-bar{
    position: fixed;
    top : 0 ;
    left : 0;
    min-height: 100vh;
    background: #3b3b3b;
  }

  .header-heading{
    display: inline;
    text-transform: capitalize;
    padding : 20px ;
  }

  .height-full{
    height: 100%;
  }
  

</style>
<section ng-controller="HeaderController">
  <div class="header medium-push-2">
    <div class="row expanded collapse height-full">
      <div class="medium-10 ">
        <div class="fh-font-title-2 header-heading">
          {{navBarHeading}}
        </div>

        <div class="login float-right " ng-show="user==null">
          <div class="sub-header fh-p-c fh-font-primary uppercase" ng-click="openLoginSignupPopup()">
            Login/Signup
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="nav-bar medium-2">
    <div class="nav-bar-inner">
      <div class="nav-bar-content">
          <div class="nav-headng">
            <div class="fh-font-title">
              LFW Dashboard
            </div>
          </div>
          <div class="nav-links-wrapper text-left fh-font-subhead-2-light">
            <div class="nav-link " ui-sref="overview" 
            ng-class="{'selected' : navBarHeading==='overview' }">
              Overview
            </div>
            <div class="nav-link" ui-sref="not-found"
              ng-class="{'selected' : navBarHeading==='properties' }">
              Properties
            </div>
            <div class="nav-link " ui-sref="users"
              ng-class="{'selected' : navBarHeading==='users' }">
              Users
            </div>
            <div class="nav-link  " ui-sref="area/localities" 
              ng-class="{'selected' : navBarHeading==='localities' }">
              Area/Localities
            </div>
            <div class="nav-link  " ui-sref="email/messages" 
              ng-class="{'selected' : navBarHeading==='messages' }">
              Email/Messages
            </div>
            <div class="nav-link  " ui-sref="settings">
              Settings
            </div>

          </div>
      </div>
    </div>
  </div>
</section>
