<style>

  .single-info-block-inner {
    border: 1px solid #dde3ef;
    padding: 15px 12px;
    border-radius: 3px;
  }

  .single-info-block-inner.no-border-left {
    border-left: none;
  }

  .botton-align-div{
    height: 100%;
    display: table-cell;
    vertical-align: bottom;

  }

  .botton-align-wrap{
    display: table;
    height: 100%;
  }

  .single-info-block-inner-right{
    padding : 0px 5px;
    height: 100%;
  }

  .single-info-block-inner-right{
    padding: 0px 5px;
    height: 100%;
  }

  .full-btn{
    height: 100%;
    border-radius: 2px;
  }

  .change-icon{
    color: #ec5840;
  }

  .single-info-block-inner-bottom{
    padding :5px;
    border: 1px solid #dde3ef;
    border-radius: 3px;
    height: 2.7rem;
  }

  .no-border-top{
    border-top: none;
  }

  .no-border{
    border: none;
  }

  .link-btn{
    cursor: pointer;
    color: #3b3b3b;
  }

  .link-btn:hover{
    color: #251a19;
  }

  .trends-link-div{
    padding-top: 5px;
  }

  .overview-wrapper{
    padding: 35px 15px;
  }


  .single-info-block{

    margin : 0px 0px 75px 0px ;
  }

  .margin-bottom{
    margin-bottom: 5px;
  }

  .loader-wrapper{
    position: relative;
  }

  .loader-div{
    position: absolute;
    top : 0;
    left : 0;
    background: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10%;
  }

</style>
<section class="section-1" >
  <div class="container">
    <div class="overview-wrapper medium-push-2 medium-10">


      <div class="overview-info-blocks">
        <div class="row">


          <!-- properties data -->
          <div class="columns medium-6">
            <div class="single-info-block">

              <div class="fh-font-subhead-2-light">PROPERTIES</div>
              <br>
              <div class="loader-wrapper">
                <div class="loader-div" ng-show="isPropertyDataLoading">
                  <img src="/images/spinner3.gif" style="height: 100px">
                </div>

                <div class="row collapse">
                  <div class="columns medium-6" >
                    <div class="single-info-block-inner">
                      <div class="row collapse">
                        <div class="columns medium-6">

                          <div class="single-info-block-inner-left">

                            <div class="fh-font-title-3-light fh-color-dark-red"> 
                              {{propertiesInfo.new}} 
                            </div>
                            <div class="fh-font-subhead">New Properties</div>
                            <div class="fh-font-primary-light">this week</div>
                          </div>
                        </div>

                        <div class="columns medium-6">

                          <div class="single-info-block-inner-right botton-align-wrap">
                            <div class="botton-align-div">
                              <div >
                                <i class="fa fa-long-arrow-up change-icon" aria-hidden="true" ng-show="propertiesInfo.increment > 0"></i> 
                                <span class="fh-font-title">{{propertiesInfo.increment}}</span> <span class="fh-font-primary">%</span>
                              </div>
                              <div class="fh-font-primary-light">compared to last week</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="columns medium-6">
                    <div class="single-info-block-inner no-border-left">
                      <div class="row collapse">
                        <div class="columns medium-6">
                          <div class="single-info-block-inner-left">
                            <div class="fh-font-title-3-light fh-color-dark-red"> {{propertiesInfo.notReviewed}} 
                            </div>
                            <div class="fh-font-subhead">Properties</div>
                            <div class="fh-font-primary-light">to be reviewed</div>
                          </div>
                        </div>

                        <div class="columns medium-6">
                          <div class="single-info-block-inner-right">
                            <div class="button alert full-btn">
                              Review properties now
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
                <div class="row collapse">
                  <div class="columns medium-6">
                    <div class="single-info-block-inner-bottom no-border-top no-border-left text-center">
                      <div class="fh-font-primary link-btn trends-link-div ">
                        See weekly properties trends 
                      </div>
                    </div>
                  </div>
                  <div class="columns medium-6">
                    <div class="single-info-block-inner-bottom no-border">
                      <div class="fh-font-subhead-light margin-bottom">
                        Total Listed Properties
                      </div>
                      <div class="fh-font-title-light">
                        {{propertiesInfo.total}}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <!-- users data -->
          <div class="columns medium-6">
            <div class="single-info-block">

              <div class="fh-font-subhead-2-light">USERS</div>
              <br>
              <div class="loader-wrapper">
                <div class="loader-div" ng-show="isPropertyDataLoading">
                  <img src="/images/spinner3.gif" style="height: 100px">
                </div>
                <div class="row collapse">
                  <div class="columns medium-6" >
                    <div class="single-info-block-inner">
                      <div class="row collapse">
                        <div class="columns medium-6">

                          <div class="single-info-block-inner-left">

                            <div class="fh-font-title-3-light fh-color-dark-red"> 
                              {{usersInfo.new}} 
                            </div>
                            <div class="fh-font-subhead">New Users</div>
                            <div class="fh-font-primary-light">this week</div>
                          </div>
                        </div>

                        <div class="columns medium-6">

                          <div class="single-info-block-inner-right botton-align-wrap">
                            <div class="botton-align-div">
                              <div >
                                <i class="fa fa-long-arrow-up change-icon" aria-hidden="true" ng-show="propertiesInfo.increment > 0"></i> 
                                <span class="fh-font-title">{{usersInfo.increment}}</span>
                                <span class="fh-font-primary">%</span>
                              </div>
                              <div class="fh-font-primary-light">compared to last week</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="columns medium-6">
                    <div class="single-info-block-inner no-border-left">
                      <div class="row collapse">
                        <div class="columns medium-6">
                          <div class="single-info-block-inner-left">
                            <div class="fh-font-title-3-light fh-color-dark-red"> 
                              {{usersInfo.notReviewed}} 
                            </div>
                            <div class="fh-font-subhead">Users</div>
                            <div class="fh-font-primary-light">to be verified</div>
                          </div>
                        </div>

                        <div class="columns medium-6">
                          <div class="single-info-block-inner-right">
                            <div class="button alert full-btn">
                              Review users now
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
                <div class="row collapse">
                  <div class="columns medium-6">
                    <div class="single-info-block-inner-bottom no-border-top no-border-left text-center">
                      <div class="fh-font-primary link-btn trends-link-div ">
                        See weekly users trends 
                      </div>
                    </div>
                  </div>
                  <div class="columns medium-6">
                    <div class="single-info-block-inner-bottom no-border">
                      <div class="fh-font-subhead-light margin-bottom">
                        Total Users
                      </div>
                      <div class="fh-font-title-light">
                        {{usersInfo.total}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>


        <!-- intersets data -->
        <div class="interest-info-block single-info-block">

          <div class="fh-font-subhead-2-light row columns">INTEREST IN PROPERTIES</div>
          <br>
          <div class="row">

            <div class="columns medium-3">
             <div class="single-info-block-inner">
              <div class="row collapse">
                <div class="columns medium-6">
                  <div class="single-info-block-inner-left">
                    <div class="fh-font-title-3-light fh-color-dark-red"> 
                      {{interestInfo.clicksNew}} 
                    </div>
                    <div class="fh-font-subhead">Interest Clicks</div>
                    <div class="fh-font-primary-light">this week</div>
                  </div>
                </div>
                <div class="columns medium-6">

                  <div class="single-info-block-inner-right botton-align-wrap">
                    <div class="botton-align-div">
                      <div >
                        <i class="fa fa-long-arrow-up change-icon" aria-hidden="true" ng-show="propertiesInfo.increment > 0"></i> 
                        <span class="fh-font-title">{{interestInfo.increment}}</span>
                        <span class="fh-font-primary">%</span>
                      </div>
                      <div class="fh-font-primary-light">compared to last week</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="single-info-block-inner-bottom no-border-top no-border-left text-center">
              <div class="fh-font-primary link-btn trends-link-div ">
                See properties with interest 
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</section>
