<style type="text/css">
	.link-btn{
		padding : 10px;
		cursor: pointer;
		color: #3b3b3b;
	}

	.link-btn:hover{
		color: #251a19;
	}

	.left-float{
		display: inline;
		float: left;
	}

	.right-float{
		display: inline;
		float: right;
	}

	.users-list-wrapper{
		padding:  25px;
	}

	.btn-wrappers{
		padding : 10px;
		display: flow-root;
	}


	.users-list-container{
		border: 1px solid #bcdef3;
		border-radius: 5px;
	}

	.user-list-tabs{
		border-bottom: 1px solid #bcdef3;
	}

	.user-list-tabs>ul{
		margin : 0;
	}

	.user-list-tab{
		padding: 10px;
		cursor: pointer;
		color: rgb(99, 115, 129);
	}

	.user-list-tab:hover{
		border-bottom: 2px solid rgb(196, 205, 213);
		color : rgb(33, 43, 53);
	}

	.user-list-tab.selected{
		border-bottom: 2px solid rgb(92, 106, 196);
		color: rgb(33, 43, 53);
	}

	.user-list-table{
		padding: 25px 15px ;
	}

	.user-table tbody tr {
		cursor: pointer;
	}


	.filter-search-wrapper{
		padding: 5px 25px 15px 25px;

	}

	.filter-serach-div{
		border: 1px solid #bcdef3;
		border-radius: 5px;
	}

	.full-width{
		width: 100%;
		height: 100%;
	}


	.simple-input{
		padding: 0;
		border: none;
		background-color: transparent;
		outline: 0;
	}


	.filter-btn{
		padding: 10px;
		border-right: 1px solid #bcdef3;
		cursor: pointer;
	}

	.filter-btn:hover{
		background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
	}

	.padding-lr{
		padding: 0px 15px !important;
	}

	.filters-popup{
		width: 125%;
	}

	.export-popup{
		width: 350%;
	}

	

	.filters-popup-inner{
		padding: 20px;
	}

	


	.export-wrapper{
		position: relative;
	}



	.export-popup-inner{
		padding: 30px 20px;
	}

	.export-btn-wrapper > a >div{
		margin: 10px;
	}


	.export-popup-inner-wrapper{
		position: relative;
	}

	.export-close-btn{
		position: absolute;
		top : 0px;
		right : 0px;
	}


	.no-padding-select {
		margin: 0;
		border: none;
		border-right: 1px solid #bcdef3;
	}


</style>

<section class="section-1" ng-controller="UserListController">
	<div class="container">
		<div class="users-list-wrapper medium-10 medium-push-2">

			<div class="fh-font-title-2">
				Users
			</div>

			<div class="btn-wrappers fh-font-subhead-2-light">
				<div class="left-float">
					
					<div class="export-wrapper">
						<div class="link-btn" ng-click="showExportsPopup(true)">
							<i class="fa fa-download" aria-hidden="true"></i> Export Users
						</div>
						<div class="ui-popup export-popup" ng-class="{'shown':displayExportPopup }">
							<div class="export-popup-inner-wrapper">
								<div class="export-popup-inner">
									<div class="export-btn-wrapper">
										<a target="_self" ng-href="/api/admin/getCSV?userType=tenant">
											<div class="ui-btn" >
												Tenants CSV
											</div>
										</a>
										<a target="_self" ng-href="/api/admin/getCSV?userType=broker">
											<div class="ui-btn" ng-click="fetchUserCsv('broker')">
												Brokers CSV
											</div>
										</a>
										<a target="_self" ng-href="/api/admin/getCSV?userType=landlord">
											<div class="ui-btn" ng-click="fetchUserCsv('landlord')">
												Landlords CSV
											</div>
										</a>
									</div>
								</div>
								<div class="export-close-btn" ng-click="showExportsPopup(false)">
									<div class="link-btn">X</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="right-float">
					<div class="button primary lfw-smooth-border fh-font-primary" ui-sref="add-user">
						<i class="fa fa-plus" aria-hidden="true"></i> Add a user
					</div>
				</div>
			</div>

			<br>
			<br>

			<div class="users-list-container ">
				<div class="users-list-container-inner">
					<div class="user-list-tabs">
						<ul class="inline-list ">
							<li>
								<div class="user-list-tab " 
								ng-class="{'selected' : displayedTable==='tenant'}"
								ng-click="changeDisplayedTable('tenant')">
								Tenants
							</div>
						</li>
						<li>
							<div class="user-list-tab" 
							ng-class="{'selected' : displayedTable==='broker'}"
							ng-click="changeDisplayedTable('broker')">
							Broker
						</div>
					</li>
					<li>
						<div class="user-list-tab"
						ng-class="{'selected' : displayedTable==='landlord'}"
						ng-click="changeDisplayedTable('landlord')">
						Landlords
					</div>
				</li>
			</ul>
		</div>

		<div class="user-list-table-wrapper">

			<div class="user-list-table font-medium">




				<div class="filter-search-wrapper">
					<div class="filter-serach-div">
						<div class="row collapse">
							<div class="columns medium-2">
								<div class="filter-btn-wrapper full-width" style="position: relative;">
									<div class="filter-btn full-width text-center" 
									ng-click="showFilters()">
									Filters <i class="fa fa-caret-down" aria-hidden="true"></i>
								</div>
								<div class="filters-popup ui-popup"  ng-class="{'shown':displayFilters }">
									<div class="filters-popup-inner">
										<div class="single-filter-div">
											<input id="verfiy-toggle" type="checkbox" ng-model="filters.verified">
											<label for="verify-toggle">Verified Users</label>
										</div>

										<div class="single-filter-div">
											<input id="verfiy-toggle-1" type="checkbox" ng-model="filters.notVerified">
											<label for="verify-toggle-1">Not Verified Users</label>
										</div>

										<div class="apply-filter-btn ui-btn" ng-click="applyFilters()">
											Apply filters
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="columns medium-2">
							<select ng-model="searchType" class="full-width no-padding-select">
								<option value="">Search by</option>
								<option value="displayName">User Name</option>
								<option value="email">User Email</option>
							</select>
						</div>
						<div class="columns medium-6 padding-lr">
							<input  placeholder="Search Users " class="simple-input full-width" ng-model="searchQuery">
						</div>
						<div class="columns medium-2">
							<div class="button secondary lfw-smooth-border full-width" ng-click="searchBtnClick()">
								Search
							</div>
						</div>
					</div>
				</div>
			</div>





			<div class="loader-div text-center" style="padding:50px" ng-show='isLoading'>
				<img src="/images/loader.gif">
			</div>

			<div class="user-list-table-innner" ng-show="!isLoading">

				<div class="tenants-table" ng-show="displayedTable==='tenant'">
					<div class="btn-wrappers">
						<div class="left-float">
							<div class="fh-font-primary">
								Showing 50 results per page / Total  <strong>{{tenantsData.total}}</strong> tenants
							</div>
						</div>
						<div class="right-float">
							<div class="link-btn">
								<i class="fa fa-refresh" aria-hidden="true"></i> Refresh 
							</div>
						</div>
					</div>
					<table class="hover myunstriped user-table">
						<thead class="font-bold">
							<tr>
								<th>Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">Phone</th>
								<th class="text-center">Interest Count</th>
								<th class="text-right">Verification Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat= "tenant in tenantsData.list">
								<td> {{tenant.displayName}} </td>
								<td class="text-center"> {{tenant.email}}</td>
								<td class="text-center"> {{tenant.phoneNumber}}</td>
								<td class="text-center"> {{tenant.interestCount}}</td>
								<td class="text-right"> {{tenant.isVerified}}</td>
							</tr>
						</tbody>
					</table>
				</div>


				<div class="broker-table" ng-show="displayedTable==='broker'">
					<table class="hover myunstriped user-table">
						<thead class="font-bold">
							<tr>
								<th>Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">Phone</th>
								<th class="text-center">Properties</th>
								<th class="text-right">Verification Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat= "broker in brokersData.list">
								<td> {{broker.displayName}} </td>
								<td class="text-center"> {{broker.email}}</td>
								<td class="text-center"> {{broker.phoneNumber}}</td>
								<td class="text-center"> {{broker.propertiesCount}}</td>
								<td class="text-right"> {{broker.isVerified}}</td>
							</tr>
						</tbody>
					</table>
				</div>


				<div class="broker-table" ng-show="displayedTable==='landlord'">
					<table class="hover myunstriped user-table">
						<thead class="font-bold">
							<tr>
								<th>Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">Phone</th>
								<th class="text-center">Properties</th>
								<th class="text-right">Verification Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat= "broker in landlordsData.list">
								<td> {{broker.displayName}} </td>
								<td class="text-center"> {{broker.email}}</td>
								<td class="text-center"> {{broker.phoneNumber}}</td>
								<td class="text-center"> {{broker.propertiesCount}}</td>
								<td class="text-right"> {{broker.isVerified}}</td>
							</tr>
						</tbody>
					</table>
				</div>


			</div>


			<br>
            <ul class="pagination text-center" role="navigation" aria-label="Pagination" >
              <li class="pagination-previous" ng-if="currentPage!=1">
                <a ng-click="setPageAs(currentPage-1)">
                  Previous
                </a>
              </li>
              <li class="pagination-previous disabled" ng-if="currentPage==1">Previous</li>
              <li ng-repeat = "page in frontCount" ng-class="{'active-page' : currentPage==page}">
                <a ng-click="setPageAs(page)">
                  {{page}}
                </a>
              </li>
              <li class="ellipsis" aria-hidden="true" ng-show="showEclipses"></li>
              <li ng-repeat = "page in lastCount" ng-class="{'active-page' : currentPage==page}" >
                <a ng-click="setPageAs(page)">
                  {{page}}
                </a>
              </li>
              <li class="pagination-next" ng-if="currentPage!=lastPage">
                <a ng-click="setPageAs(currentPage+1)" aria-label="Next page">Next </a>
              </li>
              <li class="pagination-next disabled" ng-if="currentPage==lastPage">Next</li>
              
            </ul>


		</div>
	</div>
</div>
</div>
</div>
</section>